.cartCardPrice{
  line-height: 136px;
  border-left: 1px solid #dfdfdf;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
}

.cartCard{
  margin: 1rem 0;
}

.removeIcon{
  padding-right: 10px;
  cursor: pointer;
}

.emptyCart{
  margin-top: 2rem;
}

.cart-img{
  max-height: 120px;
  padding: 10px;
}